
<div id="header">

  <!--Header upper region-->
  <div class="header-upper">

    <div class="header-inner container">
      <!--user menu-->
      <div class="header-block-flex flex-first mr-auto">
        <nav class="nav nav-sm header-block-flex">
          <a class="nav-link hidden-md-up" href="login.htm"><i class="fa fa-user"></i></a>
          <a class="nav-link text-xs text-uppercase hidden-sm-down" href="javascript:void(0)" routerLink="/register" >Sign Up</a> <a class="nav-link text-xs text-uppercase hidden-sm-down" href="javascript:void(0)" routerLink="/login">Login</a>
        </nav>
        <div class="header-divider header-divider-sm"></div>
        <!--language menu-->
        <div class="dropdown dropdowns-no-carets">
          <a href="#en" class="nav-link text-xs p-1 dropdown-toggle" data-toggle="dropdown"><i class="flag-icon flag-icon-gb"></i></a>
          <div class="dropdown-menu dropdown-menu-mini dropdown-menu-primary">
            <a href="#es" class="dropdown-item lang-es"><i class="flag-icon flag-icon-es"></i> Spanish</a>
            <a href="#pt" class="dropdown-item lang-pt"><i class="flag-icon flag-icon-pt"></i> Portguese</a>
            <a href="#cn" class="dropdown-item lang-cn"><i class="flag-icon flag-icon-cn"></i> Chinese</a>
            <a href="#se" class="dropdown-item lang-se"><i class="flag-icon flag-icon-se"></i> Swedish</a>
          </div>
        </div>
      </div>
      <!--social media icons-->
      <div class="nav nav-icons header-block flex-last">
        <a href="#" class="nav-link"> <i class="fa fa-twitter-square icon-1x"></i> <span class="sr-only">Twitter</span> </a>
        <a href="#" class="nav-link"> <i class="fa fa-facebook-square icon-1x"></i> <span class="sr-only">Facebook</span> </a>
        <a href="#" class="nav-link"> <i class="fa fa-linkedin-square icon-1x"></i> <span class="sr-only">Linkedin</span> </a>
        <a href="#" class="nav-link"> <i class="fa fa-google-plus-square icon-1x"></i> <span class="sr-only">Google plus</span> </a>
      </div>
    </div>
  </div>
  <div style="visibility: hidden; display: none;"></div><div data-toggle="sticky" class="sticky" style="top: -0.5px;">

  <!--Header & Branding region-->
  <div class="header">
    <!-- all direct children of the .header-inner element will be vertically aligned with each other you can override all the behaviours using the flexbox utilities (flexbox.htm) All elements with .header-brand & .header-block-flex wrappers will automatically be aligned inline & vertically using flexbox, this can be overridden using the flexbox utilities (flexbox.htm) Use .header-block to stack elements within on small screen & "float" on larger screens use .flex-first or/and .flex-last classes to make an element show first or last within .header-inner or .headr-block elements -->
    <div class="header-inner container">
      <!--branding/logo -->
      <div class="header-brand flex-first">
        <a class="header-brand-text" href="javascript:void(0)" title="Home" [routerLink]="['movies']">
          <h1>
            <span>Chal</span>chitra<span>.</span>
          </h1>
        </a>
        <div class="header-divider hidden-md-down"></div>
        <div class="header-slogan hidden-md-down">Nepali movie Database</div>
      </div>

      <div class="navbar navbar-toggleable-md">
        <!--everything within this div is collapsed on mobile-->
        <div class="navbar-main">
          <!--main navigation-->
          <ul class="nav navbar-nav float-lg-right">
            <li class="nav-item">
            </li>
            <li class="nav-item" ngbDropdown>
              <a href="javascript:void(0)" class="nav-link" id="home-links-dropdown" ngbDropdownToggle> <i class="fa fa-home nav-link-icon"></i> <span class="hidden-xs-up">Home</span> </a>
              <div class="dropdown-menu" role="menu" aria-labelledby="home-links-dropdown">
                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['movies']">Movies</a>
              </div>
            </li>
            <li class="nav-item" ngbDropdown>
              <a href="javascript:void(0)" class="nav-link" id="admin-links-dropdown" ngbDropdownToggle> Admin Actions</a>
              <div class="dropdown-menu" role="menu" aria-labelledby="admin-links-dropdown">
                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="['movies/add']">Add movie</a>
              </div>
            </li>

          </ul>
        </div>
        <!--/.navbar-collapse -->
      </div>
    </div>
  </div>
</div>
</div>

<app-alert></app-alert>

<router-outlet></router-outlet>

<footer id="footer" >
  <div class="bg-inverse-dark text-sm py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="mb-0">Copyright 2017 © Chalchitra</p>
        </div>
      </div>
    </div>
  </div>
</footer>
